@model PersonalSiteMVC.UI.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<h2>@ViewBag.Title</h2>

<h4>I have received the following message:</h4>
<p>@Model.Message</p>
<h4>I will respond as soon as we can to '@Model.Message'. Thank you for contacting me!</h4>

