
@{
    ViewBag.Title = "Portfolio";
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Portfolio</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="portfolio.html">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>My Latest Featured Projects</h2>
        </div>
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="~/Content/img/PortfolioGallery/Fed1-Pic.jpg" alt="">
                        <a class="light" href="img/PortfolioGallery/Fed1-Pic.jpg"></a>
                    </div>
                    <div class="g_item_text">
                        <h4><a href="http://www.f1sp.don-richardson.com" target="_blank">Static Website</a></h4>
                        <p>Utilized HTML and CSS techniques to create</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="~/Content/img/PortfolioGallery/DungeonApp-Pic.jpg" alt="">
                        <a class="light" href="img/PortfolioGallery/DungeonApp-Pic.jpg"></a>
                    </div>
                    <div class="g_item_text">
                        <h4><a href="https://github.com/donr82/DungeonApp" target="_blank">Type Based C# Game</a></h4>
                        <p>Utilized C# Techniques to Create</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="~/Content/img/PortfolioGallery/StoreFront-Pic.jpg" alt="">
                        <a class="light" href="img/PortfolioGallery/StoreFront-Pic.jpg"></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Store Front Application</h4>
                        <p>Utilized HTML, CSS, Data, MVC Conversion Techniques to Create</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="~/Content/img/gallery/project-4.jpg" alt="">
                        <a class="light" href="img/gallery/project-4.jpg"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Embosed Logo Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="~/Content/img/gallery/project-5.jpg" alt="">
                        <a class="light" href="img/gallery/project-5.jpg"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Disposable Bottle</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="~/Content/img/gallery/project-6.jpg" alt="">
                        <a class="light" href="img/gallery/project-6.jpg"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Logo Design</h4>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--================End Home Gallery Area =================-->