@{
    ViewBag.Title = "Resume";
}
<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Oct 2019 to Oct 2021</p>
                                </div>
                                <div class="media-body">
                                    <h4>Lead Bank</h4>
                                    <p>Loan Processor</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>April 2015 to Oct 2019</p>
                                </div>
                                <div class="media-body">
                                    <h4>Commerce Bank</h4>
                                    <p>Commercial Review Team <br />Loan Processor <br />Check Fraud Specialist<br />DDA Disputes Team</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Nov 2013 to April 2015</p>
                                </div>
                                <div class="media-body">
                                    <h4>Synchrony Financial</h4>
                                    <p>Credit Card Dispute Team <br />Customer Service Representative</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Nov 2021 to March 2022</p>
                                </div>
                                <div class="media-body">
                                    <h4>Centriq School</h4>
                                    <p>Centriq Full Stack Web Developer School <br />Kansas City, Kansas</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Aug 2006 to May 2011</p>
                                </div>
                                <div class="media-body">
                                    <h4>University of Kansas</h4>
                                    <p>Bachelors Degree Film & Media Studies <br />Lawrence, KS</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="~/Content/Documents/Don Richardson Resume IT.pdf" download="Don Richardson Resume" class="genric-btn info">Click Here To Download Resume</a>
    </div>
</section>